.titulo{
    text-align: center;
}

body{
    background-color: white;
}
.caixa{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.coluna{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*pagina cursos*/
.artigos{
    border: 2px solid #2ea4ff;
    background-color: white;
    border-radius: 20px;
    max-width: 200px;
    margin: 0.5em;
    overflow: hidden; 
}

.artigos p{
    font-size: 0.9em;
    text-align: center;
    
}

.artigos h3{
    background-color: #2ea4ff;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
}

.artigos:hover{
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .4);
    transform: translate3D(0, -2px, 0);
}

/*pagina login*/
.linha_login{
    height: 30em;
   
}


/*pagina contato*/


.linha-contato{
    height: 30em;
    max-width: 1000px ;
}

.linha-greetings{
    display: flex;
    
}

.greeting_menssage{
    color: #368dff;
    align-items: center;
}

/*pagina obrigado*/
.container_obrigado{
    display: flex;
    align-items: center;
  }
  .row{
    margin-left: 100px;
    margin-top: 50px;
  }
  .texto_obrigado{
    text-align: center;
    margin-left: 180px;
  }
  
  .botao_obrigado_volta{
    margin-top: 70px;
}


/*pagina sobre*/
.container_sobre{
    display: flex;
    flex-direction:column;
    

}
.titulo_sobre{
    color: red;
    margin: 30px;
    align-self: center;
}
.conteudo{
    text-align: justify;
}


/*funcionarios*/
.container {
	height: 600px;
	max-width: 1000px;
	text-align: center;
}

#titulo {
	border: 2px solid #59a0fc;;
	border-radius: 20px;
}

.item {
	margin: 1em;
}

.nome {
	width: 8em;
}