.titulo{
    text-align: center;
}

body{
    background-color: white;
}
.caixa{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.artigos{
    border: 2px solid #2ea4ff;
    background-color: white;
    border-radius: 20px;
    max-width: 200px;
    margin: 0.5em;
    overflow: hidden; 
}

.artigos p{
    font-size: 0.9em;
    text-align: center;
    
}

.artigos h3{
    background-color: #2ea4ff;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
}

.artigos:hover{
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .4);
    transform: translate3D(0, -2px, 0);
}


.linha_login{
    height: 30em;
}

.coluna{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-contato{
    height: 30em;
}

.greetings{
    display: flex;
    color: #368dff;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-left: 350px;
}

.container_obrigado{
    display: flex;
    align-items: center;
  }
  .row{
    margin-left: 100px;
    margin-top: 50px;
  }
  .texto_obrigado{
    text-align: center;
    margin-left: 180px;
  }
  
  .botao_obrigado_volta{
    margin-top: 70px;
}

.container_sobre{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.titulo_sobre{
    color: red;
    margin: 30px;
}
