{% extends '_base.html' %}

    {% block title %}
      Login|Empresa
    {% endblock title %}

    {% block style %}
    <link rel="stylesheet" type="text/css"href="static/css/style.css">
    {% endblock style %}

    {% block content %}
    <div class = "container"> 
      <div class = "row  justify-content-md-center linha-greetings">
        <h1 class ="greeting_menssage">Entre em contato</h1>
      </div>
      <div class = "row linha-contato">
        <div class ="col-12 col-lg-4 coluna">  
          <img src ="/static/img/html5_css3.png" alt="logo da empresa" height="200">
        </div>

        <div class ="col-12 col-lg-4 coluna">  
        </div>


        <div class="col-12 col-lg-4  coluna">  
          <form action = "/comunicado" method="POST" class="text-center"> 
            <h1 class = "h3 m-3 p-1 text-center">Seus dados</h1>
            <label for="id_name" class="sr-only" class="text-center">Nome:</label>
            <input class="form-control m-2" type="text" name="nome" placeholder="Nome*" required autofocus name = "nome">
            <label for="id_surname" class="sr-only" class="text-center">Sobrenome:</label>
            <input class="form-control m-2" type="text" name="sobrenome" placeholder="Sobrenome*" required autofocus name="sobrenome">
            <label for ="id_email" class="sr-only" class="text-center">Email:</label> 
            <input class = "form-control m-2" type ="email" name="email" placeholder="Email*" required autofocus name="email">
            <label for="id_subject" class="sr-only" class="text-center">Assunto:</label>
            <input class="form-control m-2" type="text" name = "assunto" placeholder="Assunto*" required autofocus name="assunto">
            <label for="id_message" class="sr-only" class="text-center">Menssagem:</label>
            <textarea class="form-control m-2" name="mensagem" placeholder="Mensagem*" required autofocus name="mensagem"></textarea>

            <button type="submit" class="btn btn-primary" >Enviar</button> 
          </form>

        </div>

      </div>
    </div>
    {% endblock content %}
    
