{% extends '_base.html' %}

{% block title %}
    Login|Empresa
{% endblock title %}


{% block style %}
    <link rel = 'stylesheet' type="text/css" href="static/css/style.css">
{% endblock style %}

{% block content %}

    <div class = "container"> 
      <div class = "row linha_login"> 
        <div class ="col-12 col-md-4 coluna"> 
          <img src ="static/img/html5_css3.png" alt="logo da empresa" height="200">
        </div>

        <div class ="col-12 col-lg-4 coluna">  
        </div>

        <div class="col-12 col-md-4  coluna">  
          <form action = "http://juliom6.pythonanywhere.com/contato" method="POST" class="text-center"> 
            <h1 class = "h3 m-3 p-1 text-center">Logar</h1>
            <label for ="id_email" class="sr-only" class="text-center">Email:</label> 
            <input class = "form-control m-2" type ="email" id="id_email" placeholder="Insira seu email" required autofocus name="email">
            <label for ="id_senha" class="sr-only" class="text-center">Senha: </label>
            <input class = "form-control m-2" type="password" id = "id_senha" placeholder="Insira sua senha" required name = "senha">
            <button type="submit" class="btn btn-primary" >Fazer login</button> 
          </form>

        </div>

      </div>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}




