{% extends '_base.html' %}

    {% block title %}
        Contato| Empresa
    {% endblock title %}


    {% block style %}
        <link rel = 'stylesheet' href="static/css/style.css">
    {% endblock style %}


    {% block content %}
    <div class="container conteiner_obrigado">
      <div class="row">
        <div class="conteudo"> 
          <h1 class="text-primary texto_obrigado">Obrigado por entrar em contato conosco!</h1>
          <a class="btn btn-primary botao_obrigado_volta" href="{{url_for('contato')}}">Voltar ao inicio</a>
      </div>
      </div>
    </div>
    {% endblock content %}








   
    

